<!DOCTYPE html>
<html>
	<head>
		<title>SongZ</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<style>
			html,
			body {
				margin: 0;
				border: 0;
				padding: 0;
			}
			app-drawer-layout {
				--app-drawer-width: min(320px, calc(100% - 48px));
			}
			label {
				display: block;
			}
			audio {
				width: 90%;
			}
			#prev-btn,
			#play-pause-btn,
			#next-btn {
				font-size: 200%;
			}
		</style>
		<script type="module" src="components/songz-app.js"></script>
	</head>
	<body>
		<songz-app></songz-app>
	</body>
</html>
