body {
	overscroll-behavior-y: contain; /* Prevent pull-to-refresh. */
	
	font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Droid Sans', sans-serif;
}

h1,
section {
	max-width: 600px;
	margin: auto;
}

input[type="text"],
input[type="number"] {
	display: block;
	min-width: 100%;
	box-sizing: border-box;
}

button[type="submit"] {
	float: right;
	margin-right: 1em;
	margin-bottom: 1em;
}

progress {
	display: block;
}

#log p {
	margin: 0;
}

@media (prefers-color-scheme: dark) {
	body {
		color-scheme: dark;
		background: #101010;
		color: #f0f0f0;
	}
	a {
		color: #8080ff;
	}
		a:active {
			color: #ff8080;
		}
}
