h1,
section {
	max-width: 600px;
	margin: auto;
}

label > small,
input[type="text"],
input[type="number"] {
	display: block;
	min-width: calc(100% - 1em);
}

#log p {
	margin: 0;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #101010;
		color: #f0f0f0;
	}
	a {
		color: #8080ff;
	}
		a:active {
			color: #ff8080;
		}
	button {
		filter: invert();
	}
}
