<!DOCTYPE html>
<html>
	<head>
		<title>Add Song</title>
		<link rel="stylesheet" type="text/css" href="styles/standalone_page.css" />
	</head>
	<body>
		<h1>Add song</h1>
		<section>
			<form method="POST" action="/api/songs">
				<label>
					📄 GDrive FLAC:
					<input type="text" name="gdrive-flac" />
				</label>
				<label>
					📄 GDrive M4A:
					<input type="text" name="gdrive-m4a" />
				</label>
				<label>
					📄 GDrive MP3:
					<input type="text" name="gdrive-mp3" />
				</label>
				<label>
					📄 GDrive Ogg:
					<input type="text" name="gdrive-ogg" />
				</label>
				<label>
					🖼 GDrive Art:
					<input type="text" name="gdrive-art" />
				</label>
				<label>
					📃 GDrive LRC:
					<input type="text" name="gdrive-lrc" />
				</label>
				<label>
					🆎 Title:
					<input type="text" name="title" />
				</label>
				<label>
					🕓 Duration:
					<small>In milliseconds</small>
					<input type="number" name="duration" step="0.1" />
				</label>
				<label>
					🎹 Genre:
					<input type="text" name="genre" />
				</label>
				<label>
					🧑‍🎤 Artist(s):
					<small>Semicolon-separated</small>
					<input type="text" name="artist" />
				</label>
				<label>
					👤 Composer(s):
					<small>Semicolon-separated</small>
					<input type="text" name="composer" />
				</label>
				<label>
					💿 Album title:
					<input type="text" name="album-title" />
				</label>
				<label>
					🧑‍🎤 Album artist:
					<input type="text" name="album-artist" />
				</label>
				<label>
					🔢 Track #:
					<input type="number" name="track-no" />
				</label>
				<label>
					🔢 Disc #:
					<input type="number" name="disc-no" />
				</label>
				<label>
					📅 Year:
					<input type="number" name="year" min="1000" max="9999" />
				</label>
				<label>
					🔁 Playthroughs:
					<input type="number" name="playthroughs" min="0" />
				</label>
				<button type="submit">Submit</button>
			</form>
		</section>
	</body>
</html>
