<!DOCTYPE html>
<html>
	<head>
		<title>SongZ</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="shortcut icon" type="image/x-icon" sizes="16x16" href="/images/logo/favicon.ico" />
		<link rel="icon" type="image/png" sizes="512x512" href="/images/logo/512.png" />
		<link rel="manifest" href="/manifest.webmanifest" />
		
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" />
		<link rel="stylesheet" type="text/css" href="/styles/styles.css" />
		
		<script>window.gapiLoadPromise = new Promise((resolve) => window.gapiPromiseResolve = resolve);</script>
		<script async defer src="https://apis.google.com/js/api.js" onload="gapi.load('client', window.gapiPromiseResolve);"></script>
		<script src="/node_modules/markdown-it/dist/markdown-it.min.js"></script>
		<script src="/scripts/mwc_duplicate_define_fix_hack.js"></script>
		<script type="module" src="/scripts/components.js"></script>
	</head>
	<body>
		<songz-app></songz-app>
	</body>
</html>
