<!DOCTYPE html>
<html>
	<head>
		<title>Sign in - SongZ</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="shortcut icon" type="image/x-icon" sizes="16x16" href="/images/logo/favicon.ico" />
		<link rel="icon" type="image/png" sizes="512x512" href="/images/logo/512.png" />
		<link rel="manifest" href="/manifest.webmanifest" />
		
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" />
		<link rel="stylesheet" type="text/css" href="styles/standalone_page.css" />
	</head>
	<body>
		<h1>Sign in</h1>
		<section style="text-align: center;">
			<p>You need to sign in to access SongZ.</p>
			<br />
			<a href="/auth/google" style="display: inline-block; padding: 8px 16px;">Sign in</a>
		</section>
	</body>
</html>
